---
title: Detail
title_long: |-
  <%= escape_html(presentation.title) %>
<%= Views::Metadata.new.render %>
---
<article id="scheduleDetail">
  <h2><%= t(:title) %><%= '(Canceled)' if presentation.canceled? -%></h2>
  <p class="title"><%= presentation.title %></p>
  <h2><%= t(:abstract) %></h2>
  <%= md(presentation.abstract) %>
  <%- presentation.presenters.each do |presenter| -%>
  <h2><%= t(:speaker) %></h2>
  <p><%= presenter.name %></p>
  <h3><%= t(:affiliation) %></h3>
  <%= md(presenter.affiliation) %>
  <h3><%= t(:bio) %></h3>
  <%= md(presenter.bio) %>
  <h3>GitHub</h3>
    <% if presenter.github -%>
      <%- [*presenter.github].each do |github| -%>
    <p>
      <a href="https://github.com/<%= github %>"><%= github %></a><br>
      <img src="http://usericons.relucks.org/github/<%= github %>" width="120" height="120">
    </p>
      <%- end -%>
    <%- else -%>
      -
    <%- end -%>
  <%- end -%>
  <h2><%= t(:presentation_language) %></h3>
  <p><%= presentation.language %></p>
  <h2><%= t(:references) %></h3>
  <div class="myReferences">
    <%= md(presentation.references) %>
  </div>
  <p class="backToSchedule"><a href="../../schedule.html">Back to Schedule</a></p>
</article>
