---
title: Schedule
<%= Views::Metadata.new.render %>
localmenu: <%=
  if I18n.locale == :ja
    [
      '<li><a href="#schedule14">9月14日(金)</a></li>',
      '<li><a href="#schedule15">9月15日(土)</a></li>',
      '<li><a href="#schedule16">9月16日(日)</a></li>',
      '<li><a href="#subEvent">サブイベント</a></li>'
    ].join
  else
    [
      '<li><a href="#schedule14">Fri 14 Sep</a></li>',
      '<li><a href="#schedule15">Sat 15 Sep</a></li>',
      '<li><a href="#schedule16">Sun 16 Sep</a></li>',
      '<li><a href="#subEvent">Sub Event</a></li>'
    ].join
  end
%>
---

<article id="schedule14">
  <h2><%= I18n.locale == :ja ? "9月14日(金)" : "Fri 14 Sep" %></h2>
  <table>
    <colgroup span="1" class="time"></colgroup>
    <colgroup span="2" class="session"></colgroup>
    <!--<tr>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      </tr>-->
    <tr>
      <td>13:30-13:45</td>
      <td>Opening</td>
      <td>-</td>
    </tr>
    <tr>
      <td>13:45-14:15</td>
      <td>
        <span class="event">Sponsor session 1</span><br>
        <%= render_cell('R01') %>
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>14:30-15:00</td>
      <td>
        <span class="event">Sponsor session 2</span><br>
        <%= render_cell('R03') %>
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>15:00-15:30</td>
      <td>
        <span class="event">Sponsor session 3</span><br>
        <%= render_cell('P01') %>
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>15:45-16:15</td>
      <td>
        <span class="event">Sponsor session 4</span><br>
        <%= render_cell('R02') %>
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>16:30-17:00</td>
      <td><%= render_cell(59) %></td>
      <td><%= render_cell(48) %></td>
    </tr>
    <tr>
      <td>17:15-17:45</td>
      <td><%= render_cell(25) %></td>
      <td><%= render_cell(81) %></td>
    </tr>
    <tr>
      <td>17:45-18:15</td>
      <td><%= render_cell(37) %></td>
      <td><%= render_cell(8) %></td>
    </tr>
  </table>
  <ul class="linkMark">
    <li><a href="#subEvent1">try(:english)</a></li>
  </ul>
  <p class="backToTop"><a href="#">Back to Top</a></p>
</article>

<article id="schedule15">
  <h2><%= I18n.locale == :ja ? "9月15日(土)" : "Sat 15 Sep" %></h2>
  <table>
    <colgroup span="1" class="time"></colgroup>
    <colgroup span="2" class="session"></colgroup>
    <!--<tr>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      </tr>-->
    <tr>
      <td>10:00-10:30</td>
      <td><%= render_cell(75) %></td>
      <td><%= render_cell(18) %></td>
    </tr>
    <tr>
      <td>10:30-11:00</td>
      <td><%= render_cell(27) %></td>
      <td><%= render_cell(11) %></td>
    </tr>
    <tr>
      <td>11:15-12:00</td>
      <td>
        <span class="event">Keynote</span><br>
        Aaron Patterson
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>13:30-14:15</td>
      <td>
        <span class="event">Keynote</span><br>
        <%= render_cell('K02') %>
      </td>
      <td>-</td>
    </tr>
    </tr>
    <tr>
      <td>14:30-15:00</td>
      <td><%= render_cell(20) %></td>
      <td><%= render_cell(52) %></td>
    </tr>
    <tr>
      <td>15:00-15:30</td>
      <td><%= render_cell(40) %></td>
      <td><%= render_cell(22) %></td>
    </tr>
    <tr>
      <td>15:45-16:15</td>
      <td><%= render_cell(78) %></td>
      <td><%= render_cell(56) %></td>
    </tr>
    <tr>
      <td>16:15-16:45</td>
      <td><%= render_cell(64) %></td>
      <td><%= render_cell(29) %></td>
    </tr>
    <tr>
      <td>17:15-18:15</td>
      <td>
        <a href="/2012/<%= I18n.locale %>/LT.html">Lightning Talk</a>
      </td>
      <td>-</td>
    </tr>
  </table>
  <p class="backToTop"><a href="#">Back to Top</a></p>
</article>

<article id="schedule16">
  <h2><%= I18n.locale == :ja ? "9月16日(日)" : "Sun 16 Sep" %></h2>
  <table>
    <colgroup span="1" class="time"></colgroup>
    <colgroup span="2" class="session"></colgroup>
    <!--<tr>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      </tr>-->
    <tr>
      <td>10:00-10:30</td>
      <td><%= render_cell(13) %></td>
      <td><%= render_cell(58) %></td>
    </tr>
    <tr>
      <td>10:30-11:00</td>
      <td><%= render_cell(3) %></td>
      <td><%= render_cell(72) %></td>
    </tr>
    <tr>
      <td>11:15-12:00</td>
      <td>
        <span class="event">Keynote</span><br>
        <%= render_cell('K03') %>
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>13:30-13:45</td>
      <td><span class="event">Ruby Kaja</span></td>
      <td>-</td>
    </tr>
    <tr>
      <td>13:45-14:15</td>
      <td><%= render_cell(84) %></td>
      <td><%= render_cell(47) %></td>
    </tr>
    <tr>
      <td>14:30-15:00</td>
      <td><%= render_cell(54) %></td>
      <td><%= render_cell(79) %></td>
    </tr>
    <tr>
      <td>15:00-15:30</td>
      <td><%= render_cell(53) %></td>
      <td><%= render_cell(82) %></td>
    </tr>
    <tr>
      <td>15:45-16:15</td>
      <td><%= render_cell(74) %></td>
      <td><%= render_cell(45) %></td>
    </tr>
    <tr>
      <td>16:15-16:45</td>
      <td><%= render_cell(14) %></td>
      <td><%= render_cell(17) %></td>
    </tr>
    <tr>
      <td>17:15-17:45</td>
      <td><%= render_cell(28) %></td>
      <td><%= render_cell(46) %></td>
    </tr>
    <tr>
      <td>17:45-18:15</td>
      <td><%= render_cell(7) %></td>
      <td><%= render_cell(70) %></td>
    </tr>
    <tr>
      <td>18:15-18:30</td>
      <td>Closing</td>
      <td>-</td>
  </table>
  <p class="backToTop"><a href="#">Back to Top</a></p>
</article>
<article id="subEvent">
      <%- if I18n.locale == :ja -%>
        <h2>サブイベント</h2>
        <h3 id="subEvent2">またやる出張版toRuby（併設The dRuby Bookサイン会）</h3>
        <p>RubyKaigi2011でこっそり開催した、ゆRubyのtoRubyパートをまたやります。ゆるくぬるい勉強会です。島根大の講義のテキストを使った「dRuby体験」です。一台のマシンで複数のプログラムが協調しあう様子を体験します。PC必要。ない人はとなりの席の人とペアプロしよう！</p>
        <ul class="listMarkRed">
          <li>9月15日（土）12:30 - 13:20 (12:00-12:30は会場でランチ)</li>
          <li><a href="http://atnd.org/events/31976">http://atnd.org/events/31976</a> にてご登録ください。</li>
          <li><a href="http://d.hatena.ne.jp/m_seki/20110712#1310418121">http://d.hatena.ne.jp/m_seki/20110712#1310418121</a></li>
          <li>関将俊(@m_seki) - toRuby70回くらい皆勤賞の咳です。</li>
          <li>米澤慎(@vestige_) - toRubyで安定の司会業の米澤です。</li>
        </ul>
        <h3 id="subEvent1">try(:english)</h3>
        <p>All English!! 英語のネイティブスピーカーと英語で話しをしてみよう！お昼時にピザ付きのミートアップです。英語２、日本語２程度の小さなグループで、ガイジンRubyistsと直に話しをしてみよう。俄然、英語がんばるぞ、という気持ちになります。ぜひ、ご参加ください。</p>
        <ul class="listMarkRed">
          <li>9月16日（日）12:00 - 13:30</li>
          <li><a href="http://tryenglish.doorkeeper.jp/events/1650">http://tryenglish.doorkeeper.jp/events/1650</a> にて参加者募集</li>
          <li><a href="http://yokolet.github.com/2012/08/22/try-english/">http://yokolet.github.com/2012/08/22/try-english/</a></li>
          <li>原田 洋子 - JRuby/Nokogiriコミッタ。Ruby Hero 2012.</li>
        </ul>
      <%- else -%>
        <h2>Sub Event</h2>
        <h3 id="subEvent1">try(:english)</h3>
        <p>
          All English!! If your first language is English, talk to Japanese Rubyists in English!
          The meetup will be on lunch time with pizza for free.
          Attendees will make a small group of 3-5, about two English and two Japanese Rubyists.
          Encourage Japanese Rubyists to study English for better communication by talking with "Gai-Jin" (you).
          Join us!
       </p>
        <ul class="listMarkRed">
          <li>Sunday, September 16 12:00 - 1:30pm</li>
          <li>Apply at <a href="http://tryenglish.doorkeeper.jp/events/1650">http://tryenglish.doorkeeper.jp/events/1650</a></li>
          <li><a href="http://yokolet.github.com/2012/08/22/try-english/">http://yokolet.github.com/2012/08/22/try-english/</a></li>
          <li>Yoko Harada - JRuby/Nokogiri Committer. Ruby Hero 2012.</li>
        </ul>
      <%- end -%>
  <p class="backToTop"><a href="#">Back to Top</a></p>
</article>
