---
title: Schedule
<%= Views::Metadata.new.render %>
localmenu: <%=
  if I18n.locale == :ja
    [
      '<li><a href="#schedule14">9月14日(金)</a></li>',
      '<li><a href="#schedule15">9月15日(土)</a></li>',
      '<li><a href="#schedule16">9月16日(日)</a></li>'
    ].join
  else
    [
      '<li><a href="#schedule14">Fri 14 Sep</a></li>',
      '<li><a href="#schedule15">Sat 15 Sep</a></li>',
      '<li><a href="#schedule16">Sun 16 Sep</a></li>'
    ].join
  end
%>
---

<article id="schedule14">
  <h2><%= I18n.locale == :ja ? "9月14日(金)" : "Fri 14 Sep" %></h2>
  <table>
    <colgroup span="1" class="time"></colgroup>
    <colgroup span="2" class="session"></colgroup>
    <!--<tr>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      </tr>-->
    <tr>
      <td>13:30-13:45</td>
      <td>Opening</td>
      <td>-</td>
    </tr>
    <tr>
      <td>13:45-14:15</td>
      <td>
        <span class="event">Sponsor session 1</span><br>
        <%= render_cell('R01') %>
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>14:30-15:00</td>
      <td>
        <span class="event">Sponsor session 2</span><br>
        <%= render_cell('R03') %>
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>15:00-15:30</td>
      <td>
        <span class="event">Sponsor session 3</span><br>
        <%= render_cell('P01') %>
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>15:45-16:15</td>
      <td>
        <span class="event">Sponsor session 4</span><br>
        <%= render_cell('R02') %>
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>16:30-17:00</td>
      <td><%= render_cell(59) %></td>
      <td><%= render_cell(48) %></td>
    </tr>
    <tr>
      <td>17:15-17:45</td>
      <td><%= render_cell(25) %></td>
      <td><%= render_cell(81) %></td>
    </tr>
    <tr>
      <td>17:45-18:15</td>
      <td><%= render_cell(37) %></td>
      <td><%= render_cell(8) %></td>
    </tr>
  </table>
  <p class="backToTop"><a href="#">Back to Top</a></p>
</article>

<article id="schedule15">
  <h2><%= I18n.locale == :ja ? "9月15日(土)" : "Sat 15 Sep" %></h2>
  <table>
    <colgroup span="1" class="time"></colgroup>
    <colgroup span="2" class="session"></colgroup>
    <!--<tr>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      </tr>-->
    <tr>
      <td>10:00-10:30</td>
      <td><%= render_cell(75) %></td>
      <td><%= render_cell(18) %></td>
    </tr>
    <tr>
      <td>10:30-11:00</td>
      <td><%= render_cell(27) %></td>
      <td><%= render_cell(11) %></td>
    </tr>
    <tr>
      <td>11:15-12:00</td>
      <td>
        <span class="event">Keynote</span><br>
        Aaron Patterson
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>13:30-14:15</td>
      <td>
        <span class="event">Keynote</span><br>
        Yukihiro Matsumoto
      </td>
      <td>-</td>
    </tr>
    </tr>
    <tr>
      <td>14:30-15:00</td>
      <td><%= render_cell(20) %></td>
      <td><%= render_cell(52) %></td>
    </tr>
    <tr>
      <td>15:00-15:30</td>
      <td><%= render_cell(40) %></td>
      <td><%= render_cell(22) %></td>
    </tr>
    <tr>
      <td>15:45-16:15</td>
      <td><%= render_cell(78) %></td>
      <td><%= render_cell(56) %></td>
    </tr>
    <tr>
      <td>16:15-16:45</td>
      <td><%= render_cell(64) %></td>
      <td><%= render_cell(29) %></td>
    </tr>
    <tr>
      <td>17:15-18:15</td>
      <td><span class="event">Lightning Talk</span></td>
      <td>-</td>
    </tr>
  </table>
  <p class="backToTop"><a href="#">Back to Top</a></p>
</article>

<article id="schedule16">
  <h2><%= I18n.locale == :ja ? "9月16日(日)" : "Sun 16 Sep" %></h2>
  <table>
    <colgroup span="1" class="time"></colgroup>
    <colgroup span="2" class="session"></colgroup>
    <!--<tr>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      </tr>-->
    <tr>
      <td>10:00-10:30</td>
      <td><%= render_cell(13) %></td>
      <td><%= render_cell(58) %></td>
    </tr>
    <tr>
      <td>10:30-11:00</td>
      <td><%= render_cell(3) %></td>
      <td><%= render_cell(72) %></td>
    </tr>
    <tr>
      <td>11:15-12:00</td>
      <td>
        <span class="event">Keynote</span><br>
        Eric Hodel
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>13:30-13:45</td>
      <td><span class="event">Ruby Kaja</span></td>
      <td>-</td>
    </tr>
    <tr>
      <td>13:45-14:15</td>
      <td><%= render_cell(84) %></td>
      <td><%= render_cell(47) %></td>
    </tr>
    <tr>
      <td>14:30-15:00</td>
      <td><%= render_cell(54) %></td>
      <td><%= render_cell(79) %></td>
    </tr>
    <tr>
      <td>15:00-15:30</td>
      <td><%= render_cell(53) %></td>
      <td><%= render_cell(82) %></td>
    </tr>
    <tr>
      <td>15:45-16:15</td>
      <td><%= render_cell(74) %></td>
      <td><%= render_cell(45) %></td>
    </tr>
    <tr>
      <td>16:15-16:45</td>
      <td><%= render_cell(14) %></td>
      <td><%= render_cell(17) %></td>
    </tr>
    <tr>
      <td>17:15-17:45</td>
      <td><%= render_cell(28) %></td>
      <td><%= render_cell(46) %></td>
    </tr>
    <tr>
      <td>17:45-18:15</td>
      <td><%= render_cell(7) %></td>
      <td><%= render_cell(70) %></td>
    </tr>
    <tr>
      <td>18:15-18:30</td>
      <td>Closing</td>
      <td>-</td>
  </table>
  <p class="backToTop"><a href="#">Back to Top</a></p>
</article>
